defaults:
  - train: 4_exp
  - model: gpt2_small_4exp    
  - data: mimic_data          
  - _self_                    

hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}_${hydra.job.override_dirname}
  sweep:
    dir: multirun/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${hydra.job.num}
  job:
     chdir: true

project_name: EHR_FM
seed: 42 

world_size: auto # auto-detect GPUs, or set to specific number (1 for single GPU)

